@import "../../sass/variables";

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .pagination {
    width: 100%;
    height: 10.026vw;
    position: relative;

    &__subcontainer {
      width: 81.235%;
      height: 61.044%;
      position: absolute;
      top: 19.477%;
      left: 9.316%;
    }

    &__pages-text {
      margin: 0;
      padding: 0;
      font-family: $secundary-font;
      font-weight: 400;
      font-size: clamp(10px, 2.257vw, 30px);
      position: absolute;
      top: 27.651%;
      left: 0;
      color: $c1-C;
    }

    &__pages-numbers-container {
      width: auto;
      height: 50.458%;
      position: absolute;
      top: 27.651%;
      left: 9.094%;
      display: inline-flex;
    }

    &__page-number {
      margin: 0 clamp(2px, 0.781vw, 30px);
      padding: 0;
      font-family: $secundary-font;
      font-weight: 400;
      font-size: clamp(10px, 2.267vw, 30px);
      color: $c1-A;
      cursor: pointer;
    }

    &__page-number {
      margin: 0 clamp(2px, 0.781vw, 30px);
      padding: 0;
      font-family: $secundary-font;
      font-weight: 400;
      font-size: clamp(10px, 2.267vw, 30px);
      color: $c1-A;
      cursor: pointer;
    }

    &__page-number--selected {
      margin: 0 clamp(2px, 0.781vw, 30px);
      padding: 0;
      font-family: $secundary-font;
      font-weight: 600;
      font-size: clamp(10px, 2.267vw, 30px);
      color: $c4-A;
      cursor: pointer;
    }

    &__button-left {
      width: 16.669%;
      height: 100%;
      padding: 0 clamp(5px, 2.031vw, 30px);
      background: $c2-A;
      border: 2px $c2-B solid;
      border-radius: clamp(5px, 1.302vw, 30px);
      position: absolute;
      top: 0%;
      right: 51.893%;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__button-left-text {
      margin: 0 10% 0 3%;
      padding: 0;
      font-family: $primary-font;
      font-weight: 700;
      font-size: clamp(9px, 1.903vw, 30px);
      color: $c1-J;
    }

    &__button-left-icon {
      width: clamp(10px, 3vw, 30px);
    }

    &__button-right {
      width: 16.669%;
      height: 100%;
      padding: 0 clamp(5px, 2.031vw, 30px);
      background: $c2-A;
      border: 2px $c2-B solid;
      border-radius: clamp(5px, 1.302vw, 30px);
      position: absolute;
      top: 0%;
      left: 51%;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__button-right-text {
      margin: 0 3% 0 10%;
      padding: 0;
      font-family: $primary-font;
      font-weight: 700;
      font-size: clamp(9px, 1.903vw, 30px);
      color: $c1-J;
    }

    &__button-right-icon {
      width: clamp(10px, 3vw, 30px);
    }

    &__product-quantity-container {
      width: auto;
      height: 56.743%;
      padding: 0 clamp(7px, 1.523vw, 20px);
      border-radius: 100px;
      background: $c2-E;
      position: absolute;
      top: 21.745%;
      right: 12.872%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__product-quantity {
      margin: 0;
      padding: 0;
      font-family: $primary-font;
      font-weight: 600;
      font-size: clamp(8px, 2.285vw, 30px);
      color: $c2-A;
    }

    &__product-text {
      margin: 0;
      padding: 0;
      font-family: $secundary-font;
      font-weight: 400;
      font-size: clamp(10px, 2.257vw, 30px);
      position: absolute;
      top: 27.651%;
      right: 0;
      color: $c1-C;
    }
  }
}
