@import "../../sass/variables";

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .cart {
    width: 100%;
    height: auto;
    min-height: clamp(902.343px, 150.39vw, 1540px);
    padding: 6.25vw 10.091vw 10.416vw 10.091vw;
    animation-name: mobileCartComponent;
    animation-duration: 0.3s;
    animation-delay: none;
    animation-timing-function: ease;
    animation-iteration-count: 1;

    &__payment-container {
      display: none;
    }

    &__cart-order-details-container {
      width: 100%;
      height: auto;
      min-height: 115.891vw;
    }
  }

  @keyframes mobileCartComponent {
    from {
      transform: translateX(-90%);
    }

    to {
      transform: translateX(-0%);
    }
  }
}
