//colors

//c1
$c1-A: #151515;
$c1-B: #575757;
$c1-C: #A9A9A9;
$c1-D: #D1D1D1;
$c1-E: #ebebeb;
$c1-F: #F5F5F5;
$c1-H: #f9f9f9;
$c1-J: #ffffff;


//c2
$c2-A: #5E7C6E;
$c2-B: #1B3B30;
$c2-E: #F4F8EC;

//c4
$c4-A: #E5704B;

//dark fill for footer
$darkFill: #393D46;

//text color
$strongText: #393D46;
$lightText: #68768E; 
$admin-black-text: #565656;


//fonts

//poppins
$primary-font: 'Poppins', sans-serif;

//open-sans
$secundary-font: 'Open Sans', sans-serif;

//Lato
$third-font: 'Lato', sans-serif;

