@import "../../sass/variables";

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .mobile-checkout {
    width: 100%;
    height: 149.869vw;
    position: relative;
    animation-name: mobileCheckoutComponent;
    animation-duration: .3s;
    animation-delay: none;
    animation-timing-function: ease;
    animation-iteration-count: 1;

    &__payment-container {
      width: 88.671%;
      height: 88.879%;
      position: absolute;
      top: 4.170%;
      left: 5.664%;
    }
  }

  @keyframes  mobileCheckoutComponent {
    from {
      transform: translateX(90%);
    }

    to {
      transform: translateX(0%);
    }
  }
}
