@import "../../sass/variables";

@media only screen and (max-width: 599px) {
  .main-nav {
    width: 100%;
    height: clamp(90px, 21.265vw, 2000px);
    overflow-x: scroll;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    &__subcontainer {
      margin: 0;
      padding: 0 5.797%;
      width: clamp(989px, 235.507%, 2000px);
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
