@import "../../sass/variables";

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .main-nav {
    width: 100%;
    height: clamp(86px, 11.463vw, 2000px);
    overflow-x: scroll;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    &__subcontainer {
      margin: 0;
      padding: 0 5.533%;
      width: clamp(1027.8px, 131.77%, 2000px);
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
