@import "../../sass/variables";

@media only screen and (min-width: 1025px) {
  .actual-path {
    width: 100%;
    max-width: 1650px;
    height: 3.809vw;
    max-height: 69.43px;
    padding: 0 clamp(5px, 3.571vw, 58.93px);
    display: flex;
    align-items: center;

    &__subcontainer {
      width: auto;
      height: 36.998%;
      display: inline-flex;
      align-items: center;
    }

    &__text {
      margin: 0 8px;
      padding: 0;
      font-family: $secundary-font;
      font-weight: 400;
      font-size: clamp(14px, 0.952vw, 15.71px);
      color: $c1-C;
      cursor: pointer;
    }

    &__text--strong {
      margin: 0 8px;
      padding: 0;
      font-family: $secundary-font;
      font-weight: 400;
      font-size: clamp(14px, 0.952vw, 15.71px);
      color: $c1-A;
      cursor: pointer;
    }

    &__bar {
      margin: 0;
      padding: 0;
      font-family: $secundary-font;
      font-weight: 400;
      font-size: clamp(14px, 1.952vw, 18.71px);
      color: $c1-C;
    }

    &__bar--hidden {
      display: none;
    }
  }
}
