@import "../../sass/variables";

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .fixed-menu {
    width: clamp(60.343px, 8.723vw, 100px);
    height: clamp(60.343px, 8.723vw, 100px);
    background: $c1-H;
    border: 2px $c1-D solid;
    border-radius: 100px;
    cursor: pointer;
    position: fixed;
    bottom: clamp(15px, 4vw, 28px);
    right: clamp(15px, 4vw, 28px);
    z-index: 30;
    display: flex;
    align-items: center;
    justify-content: center;

    &__icon {
      width: 45.955%;
      margin-bottom: 6%;
    }

    &__point {
      width: clamp(9px, 2.083vw, 16px);
      height: clamp(9px, 2.083vw, 16px);
      border-radius: 100px;
      background: $c4-A;
      position: absolute;
      top: 51%;
      left: 24%;
    }
  }
}
