@import "../../sass/variables";

@media only screen and (min-width: 1025px) {
  .cart-individual-product {
    width: 100%;
    height: clamp(100px, 12.787vw, 211px);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &__subcontainer {
      width: 100%;
      height: 81.142%;
      position: relative;
    }

    &__image-container {
      width: clamp(80px, 7.936vw, 130.95px);
      height: clamp(80px, 7.936vw, 130.95px);
      border-radius: clamp(8px, 0.952vw, 15.71px);
      background: rgb(206, 199, 194);
    }

    &__image {
      width: 100%;
      height: 100%;
      border-radius: inherit;
    }

    &__title {
      margin: 0;
      padding: 0;
      font-family: $primary-font;
      font-weight: 500;
      font-size: clamp(10px, 1.19vw, 19.64px);
      color: $c1-A;
      position: absolute;
      top: 0;
      left: 26.619%;
      cursor: pointer;
    }

    &__big-price {
      margin: 0;
      padding: 0;
      font-family: $primary-font;
      font-weight: 600;
      font-size: clamp(10px, 1.428vw, 23.57px);
      color: $c2-A;
      position: absolute;
      top: 26.859%;
      left: 26.619%;
    }

    &__crossed-line-price {
      margin: 0;
      padding: 0;
      font-family: $primary-font;
      font-weight: 600;
      font-size: clamp(8px, 0.952vw, 15.71px);
      color: $c1-C;
      text-decoration: line-through;
      position: absolute;
      top: 48.497%;
      left: 26.619%;
    }

    &__size-text {
      margin: 0;
      padding: 0;
      font-family: $third-font;
      font-weight: 700;
      font-size: clamp(10px, 1.212vw, 20px);
      color: $c1-B;
      position: absolute;
      top: 83.702%;
      left: 26.619%;
    }

    &__size-container {
      width: auto;
      padding: 0 clamp(4px, 0.551vw, 10.97px);
      height: clamp(10px, 1.763vw, 29.09px);
      background: $c2-A;
      border: 2px $c2-B solid;
      border-radius: clamp(4px, 0.529vw, 8.73px);
      position: absolute;
      top: 81.828%;
      left: 36.622%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__size {
      margin: 0;
      padding: 0;
      font-family: $primary-font;
      font-weight: 700;
      font-size: clamp(5px, 0.661vw, 10.91px);
      color: #ffffff;
    }

    &__line {
      width: 100%;
      height: 2px;
      background: $c1-F;
      position: absolute;
      bottom: 3%;
      left: 0;
    }

    &__quantity-container {
      width: 18.595%;
      height: 26.172%;
      background: $c1-H;
      position: absolute;
      top: 32.175%;
      right: 0;
      border-radius: clamp(8px, 0.952vw, 15.71px);
      border: 2px $c1-D solid;
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 0 2%;
    }

    &__quantity-container-number {
      margin: 0;
      padding: 0;
      font-family: $secundary-font;
      font-weight: 400;
      font-size: clamp(10px, 1.11vw, 18.33);
      color: $c1-C;
    }

    &__quantity-container-line {
      height: 70%;
      width: 2px;
      background: $c1-D;
    }

    &__quantity-container-text {
      margin: 0;
      padding: 0;
      font-family: $primary-font;
      font-weight: 600;
      font-size: clamp(8px, 0.952vw, 15.71px);
      color: $c1-A;
    }

    &__remove-container {
      width: 14.643%;
      height: 13.117%;
      position: absolute;
      top: 2.498%;
      right: 0;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__remove-container-icon {
      width: 22.756%;
    }

    &__remove-container-text {
      margin: 0;
      padding: 0;
      font-family: $secundary-font;
      font-weight: 400;
      font-size: clamp(8px, 0.952vw, 15.71px);
      color: $c1-C;
    }
  }
}
