@import "../../sass/variables";

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .price-filter {
    width: 100%;
    height: 100%;

    &__title {
      margin: 0;
      padding: 0;
      font-family: $primary-font;
      font-weight: 600;
      font-size: clamp(16px, 3.069vw, 30px);
      color: $c1-A;
      position: absolute;
      top: -10%;
      left: 0;
    }

    &__subcontainer {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 27.522%;
      position: absolute;
      top: 19.724%;
      left: 0;
    }

    &__min-container {
      width: 43.324%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    &__dash {
      width: 2%;
      height: 2px;
      background: $c1-C;
      position: absolute;
      top: 60%;
      left: 49.252%;
    }

    &__max-container {
      width: 43.324%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
    }

    &__text-container {
      width: 100%;
      height: 70%;
      padding: 0 16.03%;
      position: absolute;
      bottom: 0;
      left: 0;
      outline: none;
      border-radius: clamp(6px, 1.562vw, 30px);
      background: $c1-F;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__text {
      font-family: $secundary-font;
      font-weight: 600;
      font-size: clamp(10px, 2vw, 30px);
      color: $c1-C;
    }

    &__label {
      margin: 0;
      padding: 0;
      font-family: $primary-font;
      font-weight: 600;
      font-size: clamp(8px, 1.562vw, 30px);
      color: $c1-A;
      position: absolute;
      top: 0;
      left: 0;
    }

    &__submit {
      width: 26.351%;
      height: 22.018%;
      background: $c2-A;
      outline: none;
      border-radius: clamp(8px, 1.562vw, 30px);
      border: 2px $c2-B solid;
      position: absolute;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    &__submit {
      font-family: $primary-font;
      font-weight: 700;
      font-size: clamp(9px, 1.953vw, 30px);
      color: $c1-J;
    }

    &__reset {
      margin: 0;
      padding: 0;
      font-family: $primary-font;
      font-weight: 700;
      font-size: clamp(10px, 2.3vw, 30px);
      color: $c1-C;
      position: absolute;
      bottom: 6.422%;
      left: 37.086%;
      cursor: pointer;
    }
  }
}
