@import "../../sass/variables";
@import "../../sass/adminMixins";

@media only screen and (min-width: 1025px) {
  .admin-dashboard-nav {
    width: 100%;
    max-width: 1650px;
    height: 7.696vw;
    max-height: 127px;
    padding: clamp(21.854px, 2.132vw, 35.18px) clamp(36.651px, 3.575vw, 59px);
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__left-button-container {
      width: 28.526%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__selected-button {
      @include greyButton;
      transition: all 0.3s ease;
    }

    &__no-selected-button {
      @include whiteButton;
    }

    &__orders-icon {
      width: 18.105%;
      margin-right: 5%;
    }

    &__products-icon {
      width: 18.105%;
      margin-right: 5%;
    }

    &__selected-text {
      @include grayButtonText;
    }

    &__no-selected-text {
      @include whiteButtonText;
    }

    &__right-button-container {
      width: auto;
      height: 100%;
      display: inline-flex;
    }

    &__product-icon-container {
      width: 39.15%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__product-icon {
      height: 100%;
      cursor: pointer;
      transition: all 0.3s ease;
    }

    &__add-new-button {
      @include whiteButton;
    }

    &__add-new-button-icon {
      width: 13.793%;
      margin-right: 5%;
    }

    &__add-new-button-text {
      @include whiteButtonText;
    }

    &__all-products-button {
      @include whiteButton;
    }

    &__all-products-button-icon {
      width: 13.822%;
      margin-right: 4%;
    }

    &__all-products-button-text {
      @include whiteButtonText;
    }
  }
}
