@import "../../sass/variables";

@media only screen and (max-width: 599px) {
  .shopping-cart {
    margin: 0 auto;
    width: 100%;
    min-width: 320px;
    height: auto;
    background: $c1-J;
  }
}
