@import "../../sass/variables";

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .size-square {
    width: auto;
    padding: 0 clamp(10px, 2.501vw, 30px);
    margin: 0 clamp(1px, 0.846vw, 15px);
    height: 100%;
    background: white;
    border: 2px $c1-D solid;
    border-radius: clamp(10px, 2.001vw, 30px);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &__name {
      margin: 0;
      padding: 0;
      font-family: $primary-font;
      font-weight: 700;
      font-size: clamp(10px, 2.501vw, 30px);
      color: $c1-D;
    }
  }

  .size-square--selected {
    width: auto;
    padding: 0 clamp(10px, 2.501vw, 30px);
    margin: 0 clamp(1px, 0.846vw, 15px);
    height: 100%;
    background: $c2-A;
    border: 2px $c2-B solid;
    border-radius: clamp(10px, 2.001vw, 30px);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease-in;

    &__name--selected {
      margin: 0;
      padding: 0;
      font-family: $primary-font;
      font-weight: 700;
      font-size: clamp(10px, 2.501vw, 30px);
      color: #ffffff;
      transition: all 0.3s ease-in;
    }
  }
}
