@import "../../sass/variables";

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .header {
    width: 100%;
    height: 14.843vw;
    position: relative;

    &__contact-bar {
      width: 100%;
      height: 42.105%;
      padding: 0 5.533%;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__contact-data {
      width: auto;
      height: 33.407%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    &__green-text {
      font-family: $secundary-font;
      color: $c2-A;
      font-weight: 400;
      margin: 0;
      font-size: 1.64vw;
      margin-right: clamp(12.958px, 2.158vw, 22.106px);
    }

    &__black-text {
      font-family: $secundary-font;
      color: $c1-A;
      font-weight: 400;
      margin: 0;
      font-size: 1.64vw;
      margin: 0 clamp(12.958px, 2.158vw, 22.106px);
    }

    &__contact-links {
      width: clamp(140.726px, 17.121vw, 318.66px);
      height: 33.407%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    &__green-link {
      font-family: $secundary-font;
      color: $c2-A;
      font-weight: 400;
      margin: 0;
      font-size: 1.64vw;
      cursor: pointer;
      text-decoration: none;
    }

    &__line {
      width: 88.932%;
      height: 2.083%;
      background: $c1-E;
      position: absolute;
      bottom: 0;
      left: 5.533%;
    }

    &__logo-bar {
      width: 100%;
      height: 67.438%;
      position: absolute;
      top: 42.105%;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__logo-container {
      width: 30.189%;
      height: 100%;
      cursor: pointer;
    }

    &__logo-image {
      width: 100%;
      height: 100%;
    }

    &__search-container {
      display: none;
    }

    &__icon-container {
      display: none;
    }
  }
}
