@import "../../sass/variables";

@media only screen and (max-width: 599px) {
  .main-nav {
    &__subcontainer {
      margin: 0;
      padding: 0 5.797%;
      width: clamp(989px, 235.507%, 2000px);
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__option {
      margin: 0;
      padding: 0 2.564%;
      width: auto;
      height: 57.928%;
      background: $c1-H;
      border-radius: clamp(9.275px, 2.898vw, 40px);
      border: 2px $c1-D solid;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__option--selected {
      margin: 0;
      padding: 0 2.564%;
      width: auto;
      height: 57.928%;
      background: $c2-A;
      border-radius: clamp(9.275px, 2.898vw, 40px);
      border: 2px $c2-B solid;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.1s ease-in;
    }

    &__option-text {
      margin: 0;
      font-family: $primary-font;
      font-weight: 500;
      color: $c1-A;
      font-size: clamp(15px, 3.623vw, 40.94px);
    }

    &__option-text--selected {
      margin: 0;
      font-family: $primary-font;
      font-weight: 700;
      color: $c1-J;
      font-size: clamp(15px, 3.623vw, 40.94px);
    }

    &__line {
      display: none;
    }
  }
}
