@import "../../sass/variables";

@media only screen and (min-width: 1025px) {
  .main-nav {
    &__option {
      margin: 0;
      padding: 0;
      width: auto;
      height: 100%;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__option--selected {
      margin: 0;
      padding: 0;
      width: auto;
      height: 100%;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all .1s ease-in;
    }

    &__option-text {
      margin: 0;
      font-family: $primary-font;
      font-weight: 500;
      color: $c1-A;
      font-size: clamp(5px, 1.147vw, 18.94px);
    }

    &__option-text--selected {
      margin: 0;
      font-family: $primary-font;
      font-weight: 600;
      color: $c4-A;
      font-size: clamp(5px, 1.147vw, 18.94px);
    }

    &__line {
      width: clamp(0.001px, 0.076vw, 2px);
      height: 41.826%;
      background: $c1-D;
    }

    &__line--hidden {
     display: none;
    }
  }
}
