@import "../../sass/variables";
@import "../../sass/adminMixins";

@media only screen and (min-width: 1025px) {
  .footer {
    width: 100%;
    max-width: 1650px;
    height: 57.03vw;
    max-height: 941px;
    position: relative;

    &__subcontainer {
      width: 82.181%;
      height: 79.489%;
      position: absolute;
      top: 14.452%;
      left: 8.909%;
    }

    &__article {
      width: 100%;
      height: 67.914%;
      border-radius: clamp(10px, 0.952vw, 18px);
      background-color: $darkFill;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__article-subcontainer {
      width: 98.666%;
      height: 96.259%;
      background: $darkFill;
      border-radius: clamp(10px, 0.952vw, 18px);
      border: 2px #ffffff solid;
      position: relative;
    }

    &__article-text-box {
      width: 34.484%;
      height: 65.439%;
      position: absolute;
      top: 16.155%;
      left: 6.831%;
    }

    &__article-title {
      margin: 0;
      padding: 0;
      color: #ffffff;
      font-family: $primary-font;
      font-weight: 500;
      font-size: clamp(18px, 1.151vw, 19px);
      position: absolute;
      top: 0;
      left: 0;
    }

    &__article-subtitle {
      margin: 0;
      padding: 0;
      color: #ffffff;
      font-family: $primary-font;
      font-weight: 500;
      font-size: clamp(30px, 2.869vw, 49px);
      position: absolute;
      top: 15%;
      left: 0;
    }

    &__article-paragraph {
      margin: 0;
      padding: 0;
      color: #ffffff;
      font-family: $primary-font;
      font-weight: 400;
      font-size: clamp(15px, calc(0.85em + 0.1vw), 17px);
      line-height: 28px;
      position: absolute;
      top: 42%;
      left: 0;
    }

    &__article-button {
      width: 48.886%;
      height: 19.062%;
      border-radius: clamp(10px, 0.952vw, 18px);
      border: 2px #ffffff solid;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    &__article-button-text {
      margin: 0;
      padding: 0;
      color: #ffffff;
      font-family: $primary-font;
      font-weight: 500;
      font-size: clamp(14px, 0.969vw, 16px);
    }

    &__image-container {
      width: 47.481%;
      height: 88.368%;
      position: absolute;
      bottom: 0%;
      left: 48.074%;
    }

    &__image {
      width: 100%;
      height: 100%;
    }

    &__social {
      width: clamp(124.242px, 12.121vw, 200px);
      height: 4.754%;
      position: absolute;
      top: 90.775%;
      left: 41.297%;
    }

    &__admin-button {
      width: clamp(205px, 20vw, 330px);
      height: clamp(35.185px, 3.432vw, 56.64px);
      border-radius: clamp(10.504px, 1.024vw, 16.91px);
      border: 2px $c1-C solid;
      background: $c1-J;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      position: absolute;
      bottom: 3.2%;
      right: 0;
    }

    &__admin-button-text {
      @include whiteButtonText;
    }

    &__admin-button-icon {
      width: 8%;
      margin-right: 6%;
    }

    &__social-network-container {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: space-between;
    }

    &__social-facebook-container {
      width: 17.97%;
      height: 100%;
      border-radius: 50%;
      background: #4668b2;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    &__social-twitter-container {
      width: 17.97%;
      height: 100%;
      border-radius: 50%;
      background: #1d98e6;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    &__social-linkedin-container {
      width: 17.97%;
      height: 100%;
      border-radius: 50%;
      background: #0076b4;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    &__social-instagram-container {
      width: 17.97%;
      height: 100%;
      border-radius: 50%;
      background: #ca3174;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    &__social-icon {
      width: 43.75%;
      height: 43.75%;
    }

    &__social-card-container {
      display: none;
    }

    &__social-card {
      width: 20.725%;
      height: 100%;
    }

    &__copyright {
      width: 25.884%;
      height: 13.77%;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    &__copyright-brand {
      width: 61.253%;
      position: absolute;
      top: 0;
      left: 0;
    }

    &__copyright-text {
      margin: 0;
      padding: 0;
      color: $c1-A;
      font-family: $primary-font;
      font-weight: 400;
      font-size: clamp(15px, 0.969vw, 16px);
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}
