@import "../../sass/variables";

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .discover-section {
    width: 100%;
    height: 68.619vw;
    position: relative;

    &__brand-container {
      width: 100%;
      height: 49.335%;
      background: #f9f9f9;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    &__brand-subcontainer {
      width: 57.031%;
      height: 17.93%;
      position: absolute;
      top: 60.769%;
      left: 21.549%;
      display: flex;
      justify-content: space-between;
    }

    &__brand {
      max-height: 100%;
    }

    &__card-container {
      width: 100%;
      height: 66.719%;
      position: absolute;
      top: 7.153%;
      left: 0;
      z-index: 10;
      overflow-x: scroll;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &__card-subcontainer {
      width: 174.683%;
      height: 100%;
    }

    &__card-flex-container {
      width: 83.154%;
      height: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
    }

    &__card {
      width: 48.489%;
      height: 100%;
      background: #ffffff;
      border-radius: clamp(9px, 1.677vw, 18px);
      border: 1px $c1-D solid;
      position: relative;
    }

    &__card-text-container {
      width: 45.758%;
      height: 72.523%;
      position: absolute;
      top: 8.901%;
      left: 4.621%;
    }

    &__card-title {
      margin: 0;
      padding: 0;
      font-family: $primary-font;
      font-weight: 500;
      color: $strongText;
      font-size: clamp(16px, 3.097vw, 30px);
      position: absolute;
      top: 0;
      left: 0;
    }

    &__card-paragraph {
      margin: 0;
      padding: 0;
      font-family: $primary-font;
      font-weight: 400;
      color: $lightText;
      font-size: clamp(15px, calc(0.4em + 1.36vw), 17px);
      line-height: 150%;
      position: absolute;
      top: 20%;
      left: 0;
    }

    &__card-button {
      width: 66.556%;
      height: 19.521%;
      background: $c1-E;
      border-radius: clamp(9px, 1.677vw, 18px);
      position: absolute;
      bottom: 0;
      left: 0;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__card-button-text {
      margin: 0;
      padding: 0;
      font-family: $primary-font;
      font-weight: 500;
      color: $c1-A;
      font-size: clamp(15px, 2.134vw, 18px);
    }

    &__card-image-container {
      width: 39.393%;
      height: 83.029%;
      position: absolute;
      top: 3.028%;
      left: 55.833%;
    }

    &__card-image-background {
      width: 88.08%;
      height: 86.469%;
      background: #ededed;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    &__card-image {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}
