@import "../../sass/variables";

@media only screen and (min-width: 1025px) {
  .cart-order-details {
    width: 100%;
    height: auto;
    min-height: clamp(10px, 53.751vw, 886.9px);
    background: #ffffff;
    border-radius: clamp(8px, 0.952vw, 15.71px);
    border: 2px $c1-D solid;
    padding: clamp(10px, 2.539vw, 41.9px) clamp(8px, 1.269vw, 20.95px)
      clamp(10px, 2.539vw, 41.9px) clamp(8px, 1.269vw, 20.95px);

    &__title-container {
      width: 100%;
      height: clamp(10px, 4.209vw, 69.45px);
      position: relative;
    }

    &__title {
      margin: 0;
      padding: 0;
      font-family: $primary-font;
      font-weight: 600;
      font-size: clamp(10px, 1.746vw, 28.81px);
      color: $c1-A;
      position: absolute;
      top: 0;
      left: 0;
    }

    &__paragraph {
      margin: 0;
      padding: 0;
      font-family: $secundary-font;
      font-weight: 400;
      font-size: clamp(14px, calc(.1em + 0.852vw), 15.71px);
      color: $c1-C;
      position: absolute;
      top: 60%;
    }

    &__products-container {
      margin-top: clamp(20px, 3.174vw, 52.38px);
      width: 100%;
      height: auto;
      min-height: clamp(262.151px, 25.257vw, 422px);
    }

    &__price-summary-container {
      margin-top: clamp(20px, 3.174vw, 52.38px);
      width: 100%;
      height: clamp(50px, 6.268vw, 103.43px);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }

    &__subtotal-container {
      width: 100%;
      height: 23.204%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__tax-container {
      width: 100%;
      height: 23.204%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__shipping-container {
      width: 100%;
      height: 23.204%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__text {
      margin: 0;
      padding: 0;
      font-family: $primary-font;
      font-weight: 600;
      font-size: clamp(10px, 0.952vw, 15.71px);
      color: $c1-A;
    }

    &__total-price {
      margin-top: clamp(20px, 3.174vw, 52.38px);
      width: 100%;
      height: clamp(10px, 3.095vw, 51.07px);
      position: relative;
    }

    &__total-order-text {
      margin: 0;
      padding: 0;
      font-family: $primary-font;
      font-weight: 600;
      font-size: clamp(10px, 0.952vw, 15.71px);
      color: $c1-A;
      position: absolute;
      top: 0;
      left: 0;
    }

    &__total-number {
      margin: 0;
      padding: 0;
      font-family: $primary-font;
      font-weight: 600;
      font-size: clamp(20px, 2.121vw, 35px);
      color: $c2-A;
      position: absolute;
      top: 10%;
      right: 0;
    }

    &__total-order-paragraph {
      margin: 0;
      padding: 0;
      font-family: $secundary-font;
      font-weight: 400;
      font-size: clamp(12px, calc(.1em + 0.852vw), 15.71px);
      color: $c2-A;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}
