@import "../../sass/variables";

@media only screen and (max-width: 599px) {
  .filters {
    width: 91.515%;
    height: 95.045%;
    position: absolute;
    top: 2.702%;
    left: 6.969%;

    &__title-one {
      margin: 0;
      padding: 0;
      font-family: $primary-font;
      font-weight: 600;
      font-size: clamp(16px, 5.693vw, 30px);
      color: $c1-A;
      position: absolute;
      top: 0;
      left: 0;
    }

    &__categories-container {
      width: 100%;
      height: 18.726%;
      position: absolute;
      top: 6.629%;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &__title-two {
      margin: 0;
      padding: 0;
      font-family: $primary-font;
      font-weight: 600;
      font-size: clamp(16px, 5.693vw, 30px);
      color: $c1-A;
      position: absolute;
      top: 31.403%;
      left: 0;
    }

    &__sizes-container {
      width: 100%;
      height: 20.222%;
      position: absolute;
      top: 37.927%;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &__range-filter-container {
      width: 97.682%;
      height: 25.829%;
      position: absolute;
      top: 65.649%;
      left: 0;
    }
  }
}
