@import "../../sass/variables";

@media only screen and (max-width: 599px) {
  .product-big-picture {
    width: calc(88.647vw - var(--small));
    min-width: 283.681px;
    height: calc(88.647vw - var(--small));
    min-height: 283.681px;
    border-radius: clamp(10.11px, 3.159vw, 30px);
    background: rgb(207, 207, 207);
    position: absolute;
    top: 5.472%;
    left: 0.409%;

    &__discount-container {
      width: 22.223%;
      height: 7.817%;
      background: $c2-E;
      border-radius: 100px;
      position: absolute;
      top: 3.586%;
      left: 2.862%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__discount {
      margin: 0;
      padding: 0;
      font-family: $primary-font;
      font-weight: 600;
      font-size: clamp(10.821px, 3.381vw, 30px);
      color: $c2-A;
    }

    &__picture {
      width: 100%;
      height: 100%;
      border-radius: inherit;
    }
  }
}
