@import "../../sass/variables";

@media only screen and (max-width: 599px) {
  .slide {
    width: 100%;
    min-width: 320px;
    height: 57.538vw;
    min-height: 184.123px;
    position: relative;

    &__subcontainer {
      width: 93.591%;
      height: 78.17%;
      position: absolute;
      top: 10.914%;
      left: 3.202%;
    }

    &__column-left {
      display: none;
    }

    &__column-right {
      display: none;
    }

    &__article {
      width: 100%;
      height: 81.434%;
      //background: $c1-E;
      border-radius: clamp(10px, 2.76vw, 30px);
      background-size: cover;
      position: absolute;
      top: 0;
      left: 0;
      cursor: pointer;
    }

    &__articul-images-preload {
      width: 1px;
      height: 1px;
      visibility: hidden;
      position: absolute;
    }

    &__image-preloaded {
      max-width: 100%;
    }

    &__article-image1 {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
      border-radius: clamp(10px, 2.06vw, 30px);
      animation-name: slideImage1;
      animation-delay: none;
      animation-iteration-count: 1;
      animation-timing-function: ease;
      animation-direction: normal;
      animation-duration: 1s;
    }

    &__article-image2 {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
      border-radius: clamp(10px, 2.06vw, 30px);
      animation-name: slideImage2;
      animation-delay: none;
      animation-iteration-count: 1;
      animation-timing-function: ease;
      animation-direction: normal;
      animation-duration: 1s;
    }

    &__article-image3 {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
      border-radius: clamp(10px, 2.06vw, 30px);
      animation-name: slideImage3;
      animation-delay: none;
      animation-iteration-count: 1;
      animation-timing-function: ease;
      animation-direction: normal;
      animation-duration: 1s;
    }

    &__article-text-container {
      width: 43.616%;
      height: 82.432%;
      position: absolute;
      top: 9.232%;
      left: 6.188%;
    }

    &__article-title {
      margin: 0;
      padding: 0;
      font-family: $primary-font;
      font-weight: 600;
      color: $c1-C;
      font-size: clamp(14px, 2vw, 30px);
      position: absolute;
      top: 0;
      left: 0;
    }

    &__article-subtitle {
      margin: 0;
      padding: 0;
      font-family: $primary-font;
      font-weight: 600;
      line-height: 130%;
      color: $c1-A;
      font-size: clamp(18px, 5.264vw, 50px);
      position: absolute;
      bottom: 10%;
      left: 0;
    }

    &__article-button {
      display: none;
    }

    &__article-button-text {
      margin: 0;
      padding: 0;
      font-family: $primary-font;
      font-weight: 700;
      color: #ffffff;
      font-size: clamp(14px, 3.381vw, 25px);
    }

    &__circle-container {
      width: 26.18%;
      height: 9.779%;
      position: absolute;
      bottom: 0;
      left: 36.838%;
      display: flex;
      justify-content: space-between;
    }

    &__circle {
      width: 17.438%;
      height: 100%;
      border-radius: 81px;
      background: #c4c4c4;
      transition: all .5s ease;
      cursor: pointer;
    }

    &__circle--selected {
      width: 37.694%;
      height: 100%;
      border-radius: 81px;
      background: $c2-A;
      transition: all .5s ease;
      cursor: pointer;
    }
  }

  @keyframes slideImage1 {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes slideImage2 {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes slideImage3 {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}
