@import "../../sass/variables";

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .slide {
    width: 100%;
    height: 53.382vw;
    position: relative;

    &__subcontainer {
      width: 94.641%;
      height: 81.95%;
      position: absolute;
      top: 9.024%;
      left: 2.468%;
    }

    &__column-left {
      display: none;
    }

    &__column-right {
      display: none;
    }

    &__article {
      width: 100%;
      height: 85.013%;
      border-radius: 2.803vw;
      background-size: cover;
      //background: $c1-E;
      position: absolute;
      top: 0;
      left: 0;
    }

    &__articul-images-preload {
      width: 1px;
      height: 1px;
      visibility: hidden;
      position: absolute;
    }

    &__image-preloaded {
      max-width: 100%;
    }

    &__article-image1 {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
      border-radius: 2.503vw;
      animation-name: slideImage1;
      animation-delay: none;
      animation-iteration-count: 1;
      animation-timing-function: ease;
      animation-direction: normal;
      animation-duration: 1s;
    }

    &__article-image2 {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
      border-radius: 2.503vw;
      animation-name: slideImage2;
      animation-delay: none;
      animation-iteration-count: 1;
      animation-timing-function: ease;
      animation-direction: normal;
      animation-duration: 1s;
    }

    &__article-image3 {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
      border-radius: 2.503vw;
      animation-name: slideImage3;
      animation-delay: none;
      animation-iteration-count: 1;
      animation-timing-function: ease;
      animation-direction: normal;
      animation-duration: 1s;
    }

    &__article-text-container {
      width: 40.83%;
      height: 81.574%;
      position: absolute;
      top: 7.002%;
      left: 6.43%;
    }

    &__article-title {
      margin: 0;
      padding: 0;
      font-family: $primary-font;
      font-weight: 600;
      color: $c1-C;
      font-size: clamp(16px, 2.604vw, 30px);
      position: absolute;
      top: 0;
      left: 0;
    }

    &__article-subtitle {
      margin: 0;
      padding: 0;
      font-family: $primary-font;
      font-weight: 600;
      line-height: 130%;
      color: $c1-A;
      font-size: clamp(16px, 3.925vw, 40px);
      position: absolute;
      top: 20%;
      left: 0;
    }

    &__article-button {
      width: 52.013%;
      height: 23.175%;
      background: $c2-A;
      border: 2px $c2-B solid;
      border-radius: clamp(5px, 1.319vw, 25.71px);
      position: absolute;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    &__article-button-text {
      margin: 0;
      padding: 0;
      font-family: $primary-font;
      font-weight: 700;
      color: #ffffff;
      font-size: clamp(15px, 1.953vw, 25px);
    }

    &__circle-container {
      width: 17.537%;
      height: 6.839%;
      position: absolute;
      bottom: 0;
      left: 41.23%;
      display: flex;
      justify-content: space-between;
    }

    &__circle {
      width: 17.437%;
      height: 100%;
      border-radius: 81px;
      background: #c4c4c4;
      transition: all .5s ease;
      cursor: pointer;
    }

    &__circle--selected {
      width: 37.694%;
      height: 100%;
      border-radius: 81px;
      background: $c2-A;
      transition: all .5s ease;
      cursor: pointer;
    }
  }

  @keyframes slideImage1 {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes slideImage2 {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes slideImage3 {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}
