@import "../../sass/variables";

@media only screen and (max-width: 599px) {
  .product-card {
    width: calc(49.033vw - var(--small));
    min-width: 156.908px;
    height: 85.541vw;
    min-height: 270.531px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__subcontainer {
      width: 92.61%;
      height: 95.714%;
      background: #ffffff;
      position: relative;
      border-radius: clamp(5px, 2.033vw, 15px);
      border: 1px $c1-D solid;
    }

    &__image-container {
      width: clamp(127.961px, calc(39.987vw - var(--smallImage)), 300px);
      height: clamp(127.961px, calc(39.987vw - var(--smallImage)), 300px);
      background: $c1-H;
      position: absolute;
      top: 3.283%;
      left: 5.773%;
      border-radius: clamp(5px, 2.033vw, 15px);
      position: relative;
    }

    &__image {
      width: 100%;
      height: 100%;
      border-radius: clamp(5px, 2.033vw, 15px);
      position: absolute;
      top: 0;
      left: 0;
    }

    &__discount-container {
      width: auto;
      min-width: 20%;
      padding: 0 8px;
      height: 9.684%;
      border-radius: 100px;
      background: $c2-E;
      position: absolute;
      top: 5.086%;
      left: 5.086%;
      z-index: 10;
      display: flex;
      align-items: center;
    }

    &__discount {
      margin: 0;
      padding: 0;
      font-family: $primary-font;
      font-weight: 600;
      font-size: clamp(10px, 2.381vw, 20px);
      color: $c2-A;
    }

    &__title {
      margin: 0;
      padding: 0;
      font-family: $primary-font;
      font-weight: 500;
      font-size: clamp(14px, 3.381vw, 22px);
      color: $c1-A;
      position: absolute;
      top: 56.271%;
      left: 5.973%;
    }

    &__stars {
      width: 55.154%;
      position: absolute;
      top: 65.716%;
      left: 5.973%;
    }

    &__actual-price {
      margin: 0;
      padding: 0;
      font-family: $primary-font;
      font-weight: 600;
      font-size: clamp(14px, 3.381vw, 22px);
      position: absolute;
      top: 75.316%;
      left: 5.973%;
    }

    &__old-price {
      margin: 0;
      padding: 0;
      font-family: $primary-font;
      font-weight: 600;
      font-size: clamp(11px, 2.898vw, 16px);
      color: $c1-C;
      text-decoration: line-through;
      position: absolute;
      top: 76.214%;
      right: 5.851%;
    }

    &__button {
      width: 88.297%;
      height: 11.267%;
      background: $c2-A;
      border-radius: clamp(6.508px, 2.033vw, 15px);
      border: 2px $c2-B solid;
      position: absolute;
      top: 84.52%;
      left: 5.652%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    &__button-text {
      margin: 0;
      padding: 0;
      font-family: $primary-font;
      font-weight: 700;
      font-size: clamp(13px, 3.381vw, 18.64px);
      color: #ffffff;
    }
  }
}
