@import "../../sass/variables";
@import "../../sass/adminMixins";

@media only screen and (min-width: 1025px) {
  .payment {
    width: 100%;
    height: 100%;
    position: relative;

    &__title {
      margin: 0;
      padding: 0;
      font-family: $primary-font;
      font-weight: 600;
      font-size: clamp(10px, 1.746vw, 28.81px);
      color: $c1-A;
      position: absolute;
      top: 0;
      left: 1%;
    }

    &__text {
      margin: 0;
      padding: 0;
      font-family: $secundary-font;
      font-weight: 400;
      font-size: clamp(14px, calc(0.1em + 0.852vw), 15.71px);
      color: $c1-C;
      position: absolute;
      top: 3.663%;
      left: 1%;
    }

    &__card-info-container {
      width: 100%;
      height: 28.275%;
      background: #ffffff;
      position: absolute;
      top: 10.023%;
      left: 0;
      border-radius: clamp(10px, 0.952vw, 15.71px);
      border: 2px $c1-D solid;
    }

    &__card-circle {
      width: 3.582%;
      position: absolute;
      top: 6.668%;
      left: 2.388%;
    }

    &__card-text {
      margin: 0;
      padding: 0;
      font-family: $primary-font;
      font-weight: 600;
      font-size: clamp(10px, 0.952vw, 15.71px);
      color: $c1-A;
      position: absolute;
      top: 8.8%;
      left: 8.357%;
    }

    &__card-color-cards {
      width: 14.029%;
      position: absolute;
      top: 7.916%;
      right: 2.387%;
    }

    &__card-number-input-container {
      width: 95.224%;
      height: 24.999%;
      position: absolute;
      top: 30%;
      left: 2.387%;
    }

    &__card-holder-input-container {
      width: 52.238%;
      height: 24.999%;
      position: absolute;
      top: 68.331%;
      left: 2.387%;
    }

    &__card-expiration-input-container {
      width: 17.894%;
      height: 24.999%;
      position: absolute;
      top: 68.331%;
      left: 59.402%;
    }

    &__card-cvc-input-container {
      width: 17.894%;
      height: 24.999%;
      position: absolute;
      top: 68.331%;
      left: 79.702%;
    }

    &__label {
      margin: 0;
      padding: 0;
      font-family: $primary-font;
      font-weight: 600;
      font-size: clamp(10px, 0.952vw, 15.71px);
      color: $c1-A;
      position: absolute;
      top: 0;
      left: 0;
    }

    &__input {
      margin: 0;
      outline: none;
      width: 100%;
      height: 70.368%;
      position: absolute;
      bottom: 0;
      left: 0;
      background: $c1-H;
      border: 1px $c1-D solid;
      border-radius: clamp(10px, 0.952vw, 15.71px);
      padding: 0 clamp(10px, 1.515vw, 25px);
      font-family: $secundary-font;
      font-weight: 400;
      color: $c1-C;
    }

    ::placeholder {
      color: $c1-C;
      opacity: 1;
    }
    :-moz-placeholder {
      color: $c1-C;
      opacity: 1;
    }
    ::-moz-placeholder {
      color: $c1-C;
      opacity: 1;
    }

    &__demo-card-button {
      width: 59.533%;
      height: 6.573%;
      background: $c2-A;
      border: 2px $c2-B solid;
      position: absolute;
      top: 41.422%;
      right: 0;
      border-radius: clamp(10px, 0.952vw, 15.71px);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    &__demo-card-button-text {
      margin: 0;
      padding: 0;
      font-family: $primary-font;
      font-weight: 700;
      font-size: clamp(10px, 1.19vw, 19.64px);
      color: #ffffff;
    }

    &__confirmation-title {
      margin: 0;
      padding: 0;
      font-family: $primary-font;
      font-weight: 600;
      font-size: clamp(10px, 1.746vw, 28.81px);
      color: $c1-A;
      position: absolute;
      top: 50.696%;
      left: 0;
    }

    &__confirmation-name-container {
      width: 72.374%;
      height: clamp(48.883px, 4.769vw, 78.69px);
      position: absolute;
      top: 56.692%;
      left: 0;
    }

    &__confirmation-lable {
      margin: 0;
      padding: 0;
      font-family: $primary-font;
      font-weight: 600;
      font-size: clamp(12px, 0.871vw, 14.38px);
      color: $c1-A;
      position: absolute;
      top: 0;
      left: 0;
    }

    &__confirmation-input {
      margin: 0;
      outline: none;
      width: 100%;
      height: 70.368%;
      position: absolute;
      bottom: 0;
      left: 0;
      background: $c1-H;
      border: 1px $c1-D solid;
      border-radius: clamp(10px, 0.952vw, 15.71px);
      padding: 0 clamp(10px, 1.515vw, 25px);
      font-family: $secundary-font;
      font-weight: 400;
      color: $c1-C;
    }

    &__confirmation-address-container {
      width: 72.374%;
      height: clamp(48.883px, 4.769vw, 78.69px);
      position: absolute;
      top: 65.692%;
      left: 0;
    }

    &__complete-order-button {
      width: 32.339%;
      height: 6.573%;
      background: $c2-A;
      border: 2px $c2-B solid;
      position: absolute;
      top: 76.285%;
      left: 0;
      border-radius: clamp(10px, 0.952vw, 15.71px);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    &__shield-icon {
      width: 4.759%;
      position: absolute;
      top: 86.662%;
      left: 0;
    }

    &__shield-title {
      margin: 0;
      padding: 0;
      font-family: $primary-font;
      font-weight: 600;
      font-size: clamp(14px, 0.952vw, 15.71px);
      color: $c1-A;
      position: absolute;
      top: 91.379%;
      left: 0;
    }

    &__shield-paragraph {
      max-width: 50%;
      margin: 0;
      padding: 0;
      font-family: $secundary-font;
      font-weight: 400;
      font-size: clamp(12px, calc(0.1em + 0.852vw), 15.71px);
      color: $c1-C;
      position: absolute;
      top: 94.326%;
      left: 0;
      line-height: 130%;
    }

    &__return-button {
      display: none;
    }
  }
}
